.blog-post-fecha{
    font-size: 14px;
    line-height: 16px;
    color: #b2b4b6;
    font-weight: 700;
    padding-bottom: 15px;
}

.novedades-search-field input{
    height: 80px;
    font-family: "Open Sans", sans-serif;
    background-color: #E5E5E5;
    border: none;
    font-size: 18px;
    line-height: 32px;
    width: 345px;
    font-style: italic;
    color: #3d3d3d;
    margin-left: 15px;
}
.novedades-search-field span{
    font-size: 14px;
    line-height: 16px;
    color: #b2b4b6;
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: 700;
}
.novedades-search-field a{
    width: 75px;
    height: 80px;
    border: none;
    background: #FFCC00 url(../img/publ_flecha.jpg) no-repeat 50% 50%;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    display:table-cell;
    padding-top: 23px;
}

.novedades-resultado-label{
    background-color: #E5E5E5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.novedades-resultado-label .container{
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
}