#envia-tu-propuesta .ss-base-body {
    background-color: #ababab;
    font-family: sans-serif,sans-serif;
}
#envia-tu-propuesta div.ss-form-container {
    padding: 15px;
    background-color: #f7f7f7;
    border-color: #4a4a4a;
    border-style: solid;
    border-width: 1px;
}
#envia-tu-propuesta h1.ss-form-title {
    background-color: #5e5e5e;
    font-size: 2em;
    padding: 15px;
    margin: -15px -15px 15px;
    color: #ebebeb;
    text-align: left;
}
#envia-tu-propuesta div.errorbox-bad {
    background-color: #e8dfdf;
}
#envia-tu-propuesta h2.ss-section-title {
    background-color: transparent;
}
#envia-tu-propuesta div.ss-submit div.ss-form-entry {
    background: none;
    border: none;
}