<div id="slider-legislatura" class="fluid-container rslides_container"></div>
<div class="container">
    <nav class="navbar navbar-embossed header-menu">
        <ul class="nav navbar-nav nav-justified" id="legislatura-navigator">
            <li class="col-md-2 seleccionada">TODAS</li>
            <li class="col-md-2" data-seccion="propios">PROPIOS</li>
            <li class="col-md-2" data-seccion="confirmante">COFIRMANTE</li>
        </ul>
    </nav>
</div>
<div id="legislatura-post-list" class="container"></div>