<div id="post-container" class="container">
    <div class="post-main-panel col-md-9">
        <div class="post-image text-center"></div>
        <div class="blog-post-fecha"></div>
        <div class="post-title"></div>
        <div class="post-excerpt"></div>
        <div class="post-content"></div>
        <div class="post-tags"></div>
    </div>
    <div class="post-left-panel col-md-3">
        <ul class="post-print col-md-12 text-center" >
            <li class="" style="padding-right: 20px"><div id="post-button-print" ><img src="img/icon02.png"></div></li>
            <li class=""><a id="post-share-mail" href="#"><img src="img/icon03.png"></a></li>
        </ul>
        <div class="col-md-12 text-center">Comparte la nota a través de:</div>
        <div class="col-md-12 text-center">
            <a id="post-share-facebook" href="#" target="_blank"><img src="img/icon04.png"></a>
            <a id="post-share-twitter" href="#" target="_blank"><img src="img/icon05.png"></a>
        </div>
    </div>
</div>
<div id="post-novedades-panel" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4 box post-novedad-box-1"></div>
            <div class="col-md-4 box post-novedad-box-2 invertido"></div>
            <div class="col-md-4 box post-novedad-box-3"></div>
        </div>
    </div>
</div>