<div class="bio-section">
    <div class="bio-title container-fluid">
        <div class="container"><a class="" href="#sobremi">BIOGRAFÍA</a></div>
    </div>
    <div class="container">
        <div class="bio-title2">INFANCIA</div>
        <div class="bio-texto">
            Nací el 11 de Febrero de 1966 en Rufino, Provincia de Santa Fe en la casa de la partera Nilda Perez. Mi
            madre había hecho el viaje a su ciudad natal (vivíamos en La Plata) para estar cerca de su mamá en el parto
            y porque mi abuelo no podía abandonar la cochería donde trabajaba.<br><br>

            Me crie en Gonnet, en las afueras de La Plata, un barrio típico del conurbano, en ese entonces con muchos
            baldíos, y donde jugábamos al futbol o andábamos en bicicleta hasta altísimas horas de la noche, sobre todos
            los días de verano de vacaciones y calor. Hice la primaria en el colegio público No. 36 de la provincia de
            Buenos Aires. Habíamos pasado unos años en Boston donde mi padre estaba haciendo un doctorado, pero no dudó
            en mandarme a un colegio público a nuestro regreso.<br><br>

            El secundario lo hice en el Colegio Nacional de La Plata. Me levantaba todos los días a las 6.15 para tomar
            la “F” que me permitía llegar al “Nacio” a las 7.30. Aunque hice toda la secundaria durante la dictadura, el
            Colegio logró preservar el clima de efervescencia intelectual por el que siempre fue famoso. Recuerdo que
            los bibliotecarios nos pasaban los libros censurados para que los leyéramos!<br><br>
        </div>
        <div class="container-fluid" id="infancia-img"></div>
    </div>
    <div class="container-fluid bio-universidad" id="universidad-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6" style="padding-top:40px">
                    <div class="bio-title2 invert">LA UNIVERSIDAD</div>
                    <div class="bio-texto">Cursé mis estudios de economista en la Universidad Nacional de La Plata. A
                        los 3 años y medio de entrar me fui a estudiar al MIT (Massachusetts Institute of Technology).
                        Recuerdo que en aquel momento aplicar a estudiar afuera era complicadísimo porque era todo por
                        correo y éste andaba muy mal. Recuerdo que necesitaba las notas de mis exámenes del GRE para
                        poder aplicar y no me llegaban. Un día me fui al correo de Gonnet y los empleados me permitieron
                        pasarme el día revisando una pila de cartas que hacía semanas no se repartían. Después de
                        revolver la pila durante cuatro horas encontré mi carta con las notas! Esas eran las insólitas
                        situaciones a las que te obligaba la Argentina de aquellos años.

                        <br><br>

                        En MIT conocí a economistas verdaderamente geniales. Estudié con premios nobeles como Samuelson,
                        Solow, Krugman, McFadden y Diamond, así como con otros economistas increíbles que luego tendrían
                        un papel muy importante en la vida pública internacional: Bernanke, Blanchard o Stanley Fisher.
                        Hice mi tesis con RudigerDornbusch y Paul Krugman, dos monstruos que me dejaron muchísimo.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bio-ucla">
        <div class="container">
            <div class="row">
                <div class="col-md-9" style="padding-top:40px">
                    <div class="bio-title2">UCLA</div>
                    <div class="bio-texto">
                        Después de terminar mis estudios mis profesores me convencieron que antes de volver a Argentina
                        completara mi carrera académica y me quedara unos años enseñando en una universidad. Para
                        conseguir un trabajo entras en una picadora de carne donde miles de estudiantes compiten para
                        puestos de profesores en las universidades americanas. Finalmente logré un trabajo en la
                        Universidad de California en Los Angeles donde enseñaría los próximos cuatro años y dedicaría
                        toda mi energía a publicar trabajos de investigación. Fue una época muy linda pero muy exigente
                        y de muchísima presión.
                    </div>
                </div>
                <div class="col-md-3 text-center" style="padding: 0px"><img src="img/bio_logo_UCLA.png"
                                                                            id="bio-ucla-logo"/></div>
            </div>
        </div>
    </div>

    <div id="bio-ucla-foto" class="container"></div>
    <div class="container">
        <div class="row" style="padding-top:40px">
            <div class="col-md-4 text-center"><img src="img/bio_logo_YPF.png"/></div>
            <div class="col-md-8">
                <div class="bio-title2">YPF</div>
                <div class="bio-texto">
                    A fines del año 1994 me llama José Estenssoro ofreciéndome que lo vaya a ayudar en la transformación
                    que estaba haciendo en YPF. Su sueño era crear una gran petrolera internacional argentina. Tenía que
                    salir al mundo y quería que lo ayudara en ese desafío. <br><br>
                    Cuando me lo ofrecieron me pareció una
                    locura, pero bastaron 40 minutos de entrevista con Estenssoro para que largara todo y me viniera a
                    trabajar con él. Lamentablemente murió en un accidente a los pocos meses, pero me quede los próximos
                    tres años, en la construcción de esa gran compañía.
                </div>

            </div>
        </div>
    </div>
    <div id="bio-ypf-foto" class="container"></div>
</div>

<div class="container-fluid bio-torcuato">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="padding-top:40px">
                <img src="img/bio_uni_tor_di_tella.jpg"/>

                <div class="bio-texto invert">Después de unos años de mucho trabajo en YPF llegué a la conclusión que
                    quería volver a algo que me permitiera pensar en los problemas públicos del país. Tuve la suerte que
                    Gerardo Della Paolera rector de la Universidad Torcuato Di Tella estaba buscando un director para la
                    escuela de Negocios de la universidad y pensó en mí. <br/><br/>
                    Así comencé un viaje que empezó en 1998 y terminaría en 2005 construyendo esa escuela que hoy es la
                    que lidera los rankings de calidad en
                    Argentina. No hay satisfacción más grande que un proyecto siga creciendo y consolidándose luego que
                    uno parta. En el medio de este periodo durante unos 8 meses fui convocado para ser Secretario de
                    Política Económica del gobierno de la Alianza, fue una dura experiencia en un momento muy difícil
                    para el país. Muchos me decían que no agarrara, pero creí que era más constructivo ponerle el pecho
                    a los problemas que simplemente criticar desde la tribuna.
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>


<div class="container-fluid bio-harvard">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6"></div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top:40px">
                <div class="bio-title2 invert">HARVARD</div>
                <div class="bio-texto invert">Mientras estaba en la Di Tella publique con mi colega Eduardo Levy Yeyati
                    una serie de trabajos sobre regímenes cambiarios que generaron bastante impacto en la academia y que
                    me lograron un puesto como profesor en la Escuela de Gobierno de la Universidad de Harvard. <br><br>
                    Mi
                    experiencia allí me permitió conocer la universidad más prestigiosa y exigente del mundo desde
                    adentro y conocer los más altos niveles de calidad en la tarea académica.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bio-banco-ciudad">
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="padding-top:40px">
                <div class="bio-title2">BANCO CIUDAD</div>
                <div class="bio-texto">Ya instalado en Harvard me llegó la noticia de que Mauricio Macri había ganado la
                    Jefatura de Gobierno de la Ciudad de Buenos Aires. A las pocas semanas me ofreció hacerme cargo del
                    Banco Ciudad. No era su amigo, aunque lo conocía profesionalmente a través de Horacio Rodriguez
                    Larreta. Siempre pienso en todo lo que significa que Macri haya elegido para conducir al banco a un
                    profesor universitario sin contactos, ataduras, o compromisos con nadie en Argentina. <br><br>

                    La presidencia del banco, a la que dedicaría mi cuerpo y alma durante los próximos 6 años terminó
                    resultando la experiencia más sorprendente y gratificante de mi carrera. En lo objetivo logramos
                    transformar una empresa que perdía 200 millones al año en la empresa pública más rentable de
                    Argentina. Incluso la Escuela de Negocios de Harvard terminó escribiendo un caso sobre la
                    transformación del Ciudad. <br><br>

                    Pero lo más importante se hizo a nivel de los valores. Se puso al banco
                    al servicio de la comunidad haciendo que sus activos financieros en vez de estar invertidos en
                    títulos públicos se invirtiesen en créditos hipotecarios y a las empresas. Impulsamos modelos de
                    gestión con el foco en la igualdad de oportunidades, como eliminar el régimen de ingreso favorecido a la
                    institución de acomodados políticos o hijos de empleados, un régimen que fue muy resistido internamente.
					Luchamos contra la corrupción en todos los frentes y logramos generar un modelo de gestión de empresa pública.
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-top:40px">
        <div class="col-md-5 bio-img-congreso"></div>
        <div class="col-md-7">
            <div class="bio-title2">CONGRESO</div>
            <div class="bio-texto">
                El último año en el Banco Ciudad me obligó a enfrentar un proyecto de ley, que sin sentido alguno más
                que perjudicar al Jefe de Gobierno, le restaba al banco parte de su fondeo.<br><br>
                Fue ahí que desarrollé mi
                inquietud de venir a trabajar al Congreso para poder hacer leyes buenas, que sumen, y no leyes que sean
                para castigar perjudicando a la población. <br><br>
                Agradezco desde ya a los más de 600.000 porteños que me
                honraron con su confianza en las últimas elecciones dándome la oportunidad de trabajar para ellos desde
                aquí.

            </div>
        </div>
    </div>
</div>

<div class="curriculum-vitaje-container container-fluid text-center">
    <a class="" href="http://api.fsturzenegger.com.ar/wp-content/uploads/2014/05/CV-espa%C3%B1ol-ingles.pdf">Curriculum
        Vitae (*.pdf)</a>
</div>
